/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    color: #f0f0f0; /* Light grey text */
    background-color: #1a1a1d; /* Dark silver-grey background */
    line-height: 1.6;
    padding: 0 20px;
}

/* Header Section */
.header {
    text-align: center;
    margin-top: 20px 0;
}

header h1{
    color: #ff007f; /* Neon Pink text */
    font-size: 3rem;
    margin-bottom: 10px;
}

/* About Me Section */
section#about {
    background: #2c2c34; /* Slightly lighter dark grey */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

section#about p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Projects Section */
section#projects {
    margin: 20px 0;
}

section#projects h2 {
    color: #ff007f;
    font-size: 2rem;
    text-align: center;
}

.project-card {
    background: #333; /* Dark Grey */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Blog Section */
secton#blog {
    margin: 20px 0;
}

secton#blog h2 {
    color: #ff007f;
    font-size: 2rem;
    text-align: center;
}

.blog-card {
    background: #333; /* Dark Grey */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Footer Section */
footer {
    background: #2c2c34; /* Slightly lighter dark grey */
    color: #f0f0f0; /* Light grey text */
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ff007f; /* Neon Pink text */
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover {
    color: #f0f0f0; /* Light grey text on hover */
}